<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">QUẢN TRỊ VIÊN</h2>    
    <a href="/admin/addMedicine" class="btn btn-warning fw-bold fs-2">Thêm thông tin thuốc</a>
    <a href="/admin/viewMedicine" class="btn btn-info fw-bold fs-2">Xem thông tin thuốc</a>
    
</div>
