<div>
    <div>
        <div>
            <h1>Sửa thông tin thuốc</h1>
        </div>
        <div>
            <form id="myForm" method="post" action="/admin/UpdateMedicine_volume">
                <div class="mb-3">
                    <label for="MaThuoc" class="col-form-label">Mã thuốc:</label>
                    <input type="text" name="MaThuoc" class="form-control" id="MaThuoc">
                </div>
                <div class="mb-3">
                    <label for="SoLuongTon" class="col-form-label">Số lượng tồn cộng thêm (âm nếu muốn trừ đi):</label>
                    <input type="number" name="SoLuongTon" class="form-control" id="SoLuongTon">
                </div>
            </form>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Sửa thông tin thuốc</button>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Xác nhận sửa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    Bạn có chắc chắn về sự thay đổi này?
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button id="confirm" type="submit" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#confirm').click(function () {
        $('#myForm').submit();
    });
</script>