<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">NHA SĨ</h2>    
    <a href="/doctor/saveCustomerInfo" class="btn btn-warning fw-bold fs-2">Ghi lại hồ sơ bệnh nhân</a>
    <a href="/doctor/viewAppointment" class="btn btn-info fw-bold fs-2">Xem lịch hẹn - lịch cá nhân</a>
    <a href="/doctor/addPersonalSchedule" class="btn btn-primary fw-bold fs-2">Thêm lịch cá nhân</a>
    <a href="/doctor/editAppoitment" class="btn btn-success fw-bold fs-2">Cập nhật lịch</a>
    <a href="/doctor/deleteAppointment" class="btn btn-secondary fw-bold fs-2">Xóa lịch cá nhân</a>
</div>
