<h2 class="d-flex justify-content-center">Tôi là...</h2>

<div class="d-flex justify-content-center align-items-center">
    <a href="#" onclick="window.location.href = window.location.href + '/admin'; return false;" class="btn btn-secondary fw-bold fs-5">Quản trị viên</a>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <a href="#" onclick="window.location.href = window.location.href + '/staff'; return false;" class="btn btn-primary fw-bold fs-5">Nhân viên</a>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <a href="#" onclick="window.location.href = window.location.href + '/doctor'; return false;" class="btn btn-success fw-bold fs-5">Nha sĩ</a>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <a href="#" onclick="window.location.href = window.location.href + '/customer'; return false;" class="btn btn-info fw-bold fs-5">Khách hàng</a>
</div>