<div class="d-flex justify-content-center align-items-center vh-100">
    <a href="/login_lockConflict" class="btn btn-warning fw-bold fs-2">Demo tranh chấp</a>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <span>&nbsp;</span>
    <a href="/login_resolve_lockConflict" class="btn btn-info fw-bold fs-2">Demo xử lý tranh chấp</a>
</div>