<div class="d-grid gap-2 col-6 mx-auto">
    <BR></BR>
    <h2 class="text-center">NHÂN VIÊN</h2>
    <a href="/staff/signupCustomer" class="btn btn-warning fw-bold fs-2">Đăng kí tài khoản khách hàng</a>
    <a href="/staff/makeAppoinment" class="btn btn-info fw-bold fs-2">Đăng kí lịch khám</a>
    <a href="/staff/viewRecord" class="btn btn-primary fw-bold fs-2">Tra cứu hồ sơ khám bệnh</a>
    <a href="/staff/makeReceipt" class="btn btn-success fw-bold fs-2">Lập hóa đơn thanh toán</a>
    <a href="/staff/editAppoinment" class="btn btn-secondary fw-bold fs-2">Thêm/xóa/sửa lịch hẹn</a>
</div>